* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font: 400 16px/1.5em sans-serif;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

table {
    width: 100%;
}

figure {
    margin: 0 0 1.5em 0;
}

legend {
    display: block;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.container {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

.form-map-location {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 15;
    width: 500px;
    margin: 0 auto;
}

.form-map-location legend {
    margin-bottom: 16px;
    font: 700 32px sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.form-input {
    display: block;
    width: 100%;
    padding: 16px;
    border: solid 2px #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    color: #fff;
    background: rgba(255,255,255,.1);
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}

.form-input::-webkit-input-placeholder {
    font-size: 14px;
    font-style: italic;
    color: #fff;
}

.form-input::-moz-placeholder {
    font-size: 14px;
    font-style: italic;
    color: #fff;
}

.form-input:-ms-input-placeholder {
    font-size: 14px;
    font-style: italic;
    color: #fff;
}

.form-input:focus {
    color: #444;
    background: rgba(255, 255, 255, .8);
    outline: none;
}

.form-input:focus::-webkit-input-placeholder {
    color: #444;
}

.form-input:focus::-moz-placeholder {
    color: #444;
}

.form-input:focus::-ms-input-placeholder {
    color: #444;
}

.no-touch .map {
    height: 100vh;
}

.touch .map {
    height: 250px;
}

.map img {
    max-width: none;
}

.map-info-window-title {
    margin: 0;
    margin-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
}

.map-info-window-figure {
    margin-bottom: 0;
}

.map-info-window-figure figcaption {
    font-size: 14px;
    text-align: center;
    color: #80242C;
}

.map-info-window-figure-img {
    width: 100%;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}

.gm-style-iw > div {
    padding-left: 20px !important;
}

/* Utility class */

.cf:after {
    display: table;
    clear: both;
    content: '';
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Plugin: Awesomplete */

div.awesomplete {
    display: block;
}
